%h2 Projects

%h4= link_to "Conjure", "https://github.com/brianauton/conjure"
Awesome Rails deployment.

%h4= link_to "Conjure", "https://github.com/brianauton/conjure"
Awesome Rails deployment.

%h4= link_to "Conjure", "https://github.com/brianauton/conjure"
Awesome Rails deployment.

%h4= link_to "Conjure", "https://github.com/brianauton/conjure"
Awesome Rails deployment.