%h2 About
Brian Auton is a software developer and consultant. He has a Bachelor's
degree in Computer Science from Appalachian State University, 15 years
of experience developing custom web-based software, and 6 years of
experience with Ruby on Rails. Originally from North Carolina, he's
lived in the greater Philadelphia area since early 2011.
