%section.profile_area
  .container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .profile_inner
          .profile_picture
            %a{:href => "/"}
              %img{:alt => "title", :src => "/images/headshot.png"}/
          %h2
            %a{:href => "/"} Brian Auton
          %p
            Software developer and consultant in the Philadelphia area.
          .social_icon
            %a.fa.fa-github{:href => "https://github.com/brianauton"}
            %a.fa.fa-linkedin-square{:href => "https://linkedin.com/in/brianauton"}
            %a.fa.fa-twitter{:href => "https://twitter.com/brianauton"}
