%section.profile_area.small
  .container
    .row
      .profile_inner
        .col-xs-5.col-sm-5.col-md-5.col-lg-5{style: "text-align: right"}
          .profile_picture
            %a{:href => "/"}
              %img{:alt => "title", :src => "/images/headshot.png"}/
        .col-xs-7.col-sm-7.col-md-7.col-lg-7{style: "text-align: left"}
          %h2
            %a{:href => "/"} Brian Auton
