%section.profile_area.small
  .container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .profile_inner
          .profile_picture
            %a{:href => "/"}
              %img{:alt => "title", :src => "/images/headshot.png"}/
          %h2
            %a{:href => "/"} Brian Auton
