%a.fa.fa-github{:href => "https://github.com/brianauton"}
%a.fa.fa-linkedin-square{:href => "https://linkedin.com/in/brianauton"}
%a.fa.fa-twitter{:href => "https://twitter.com/brianauton"}
%a.fa.fa-envelope-o{:href => "mailto:brianauton@gmail.com"}
